// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

.theme-light {
	--page-background-color: #F5F6F9;
	--card-background-color: white;
	--button-background-color: #47CDFF;
	--nav-background-color: white;

	--text-default-color: #222;
}

.theme-dark {
	--page-background-color: #17181e;
	--card-background-color: #1f2027;
	--button-background-color: #56b6f9;
	--nav-background-color: #1f2027;

	--text-default-color: white;
}